*{
    background: #191919;
}

@font-face {
    font-family: GothamBold;
    src: url(fonts/Gotham/GothamBold.ttf);
  }

h1{
    color: white;
    font-family: GothamBold;
    text-align: center;
    margin-top: 455px;
    margin-bottom: 455px;
}
