*{
    background: #191919;
}

@font-face {
    font-family: Gotham-Bold;
    src: url(fonts/Gotham/Gotham-Bold.otf);
  }

h1{
    color: white;
    font-family: Gotham-Bold;
    text-align: center;
    margin-top: 455px;
    margin-bottom: 455px;
}
